[Unit]
Description=Send notification when someone asked for PR review for %I user

[Timer]
OnCalendar=Mon-Fri *-*-* 8,9,10,11,12,13,14,15,16,17,18:*:00
Unit=pr-notificationsi@%I.service

[Install]
WantedBy=timers.target
