[Unit]
Description=Send notification when someone asked for PR review for %I user
Requires=graphical.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/pr-notifications.sh
Type=simple
User=%I
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/$(/usr/bin/id %I -u)/bus"

[Install]
WantedBy=graphical.target
